#jcore-runner-progress {
  margin: 1rem;
}

#jcore-runner-output {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 98%;
  height: 600px;
  overflow: scroll;
  background-color: black;
  color: lightgreen;
}

@keyframes jcore-runner-spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

#jcore-runner-spinner::before {
  animation: 1.5s linear infinite jcore-runner-spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

#jcore-runner-spinner {
  float: right;
  margin-right: 4rem;
  display: none;
}

#jcore-runner-buttons {
  display: flex;
  gap: 1rem;

  & button.icon {
    width: 32px;
  }

  & input {
    width: 160px;

    &[type="number"] {
      width: 70px;
    }
  }
}

#jcore-runner-return>div {
  background-color: #bdc5c9;
  min-height: 23px;
  width: 98%;
}

a.back {
  & svg {
    width: 32px;
  }
}

#jcore-runner-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.jcore-input-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.jcore-input-label>input,
.jcore-input-label>select {
  width: fit-content;
  min-width: 150px;
}

.jcore-input-label>input[type="checkbox"],
.jcore-input-label>input[type="radio"] {
  min-width: unset;
}

#jcore-runner-export-download {
  display: flex;
  padding: 1rem 0;
  font-size: 1rem;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}

#jcore-runner-export-download::before {
  content: "\f316";
  font-family: dashicons;
  display: inline-block;
}